<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konstantin's Dogs</title>
    <%- include ('partials/nav.ejs') %>
    <link rel="stylesheet" href ="/stylesheets/style.css">
</head>
<body>
    <h1>Lets have a look at a few dogs!</h1>
    <img src = "https://images.pexels.com/photos/10786372/pexels-photo-10786372.jpeg",alt = "two dogs side by side">
</body>
</html>